<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>就业管理系统</title>
	<link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
	<script th:src="@{/asserts/js/jquery-3.2.1.slim.min.js}"></script>
	<script th:src="@{/asserts/js/bootstrap.min.js}"></script>
</head>

<body>
<!--顶部导航栏-->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
	<div class="row">

		<!--侧边栏-->
		<!--传递参数给组件-->
		<div th:replace="~{commons/commons::sidebar(active='zpx')}"></div>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

			<h3>招聘详情，点击即可下载</h3><br/>
			<div th:if="${fileNames} == null">没有文件可下载</div>
			<ul class="nav flex-column">
				<li class="nav-item" th:each="fileName : ${fileNames}" th:text="${fileName} + '  下载'" th:onclick="downloadFileByOpen([[${fileName}]])">
				</li>
			</ul>
		</main>
	</div>
</div>
<script>
	function downloadFileByOpen(fileName) {
		window.open("http://localhost:8080/download/hutool?fileName=" + fileName);
	}
</script>


</body>

</html>