<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>招聘信息管理</title>
	<link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
	<script th:src="@{/asserts/js/jquery-3.2.1.slim.min.js}"></script>
	<script th:src="@{/asserts/js/bootstrap.min.js}"></script>
</head>

<body>
<!--顶部导航栏-->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
	<div class="row">

		<!--侧边栏-->
		<!--传递参数给组件-->
		<div th:replace="~{commons/commons::sidebar(active='zpx')}"></div>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<form th:action="@{/zpx/upload}" method="post" enctype="multipart/form-data" >
				选择单个文件<input type="file" name="file" ><br><br>
				选择多个文件<input type="file" name="files"  multiple><br><br>
				<input type="submit" value="上传">
			</form>
		</main>
	</div>
</div>



</body>

</html>