<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sm.dao.EnterpriseDao">
    <resultMap id="enterpriseinfo" type="Enterprise">
        <result property="id" column="id"></result>
        <result property="name" column="name"></result>
        <result property="password" column="password"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="phone" column="phone"></result>
        <result property="birth" column="birth"></result>
        <result property="role" column="role"></result>
        <result property="createtime" column="createtime"></result>
        <result property="updatetime" column="updatetime"></result>
        <result property="version" column="version"></result>
        <result property="deleted" column="deleted"></result>
        <result property="enterprise_usersid" column="enterprise_usersid"></result>
        <result property="enterprise_addressid" column="enterprise_addressid"></result>
        <result property="enterprise_industryid" column="enterprise_industryid"></result>
        <result property="enterprise_name" column="enterprise_name"></result>
        <association property="roles" javaType="roles">
            <result property="id" column="rid"></result>
            <result property="name" column="rname"></result>
            <result property="perms" column="perms"></result>
        </association>
        <association property="enterpriseinfo" javaType="enterpriseinfo">
            <result property="id" column="did"></result>
            <result property="enterprise_name" column="dname"></result>
            <result property="business_address" column="daddress"></result>
            <result property="enterprise_industry" column="dindustry"></result>
            <result property="company_profile" column="dprofile"></result>
            <result property="phone" column="dphone"></result>
            <result property="person_in_charge" column="dperson_in_charge"></result>
            <result property="examine_state" column="dexamine_state"></result>
            <result property="role" column="drole"></result>
            <result property="createtime" column="dcreatetime"></result>
            <result property="updatetime" column="dupdatetime"></result>
            <result property="version" column="dversion"></result>
            <result property="deleted" column="ddeleted"></result>
            <result property="enterprise_usersid" column="denterprise_usersid"></result>
            <result property="enterprise_addressid" column="denterprise_addressid"></result>
            <result property="enterprise_industryid" column="denterprise_industryid"></result>
        </association>
    </resultMap>

    <select id="getAddressList" resultType="sm.pojo.Address">
        select * from address
    </select>
    <select id="getIndustryList" resultType="sm.pojo.Industry">
        select * from industry
    </select>

    <select id="getEmpList" resultMap="enterpriseinfo">
        select d.*
             ,e.id as did
             ,e.enterprise_name as dname
             ,e.business_address as daddress
             ,e.enterprise_industry as dindustry
             ,e.company_profile as dprofile
             ,e.person_in_charge as dperson_in_charge
             ,e.examine_state as dexamine_state
             ,e.role as drole
             ,e.createtime as dcreatetime
             ,e.updatetime as dupdatetime
             ,e.version as dversion,e.deleted as ddeleted
             ,e.enterprise_addressid denterprise_addressid
             ,e.enterprise_industryid denterprise_industryid
             ,r.id as rid,r.name as rname,r.perms
        from enterprise_users d,enterprise_information e,roles r
        where d.enterprise_usersid = e.id and r.id = d.role and e.deleted = 0 and d.deleted = 0
        ORDER BY d.id ASC
    </select>
    <select id="getEnterpriseByName" resultMap="enterpriseinfo">
        select d.*
             ,e.id as did
             ,e.enterprise_name as dname
             ,e.business_address as daddress
             ,e.enterprise_industry as dindustry
             ,e.company_profile as dprofile
             ,e.person_in_charge as dperson_in_charge
             ,e.examine_state as dexamine_state
             ,e.role as drole
             ,e.createtime as dcreatetime
             ,e.updatetime as dupdatetime
             ,e.version as dversion,e.deleted as ddeleted
             ,e.enterprise_addressid denterprise_addressid
             ,e.enterprise_industryid denterprise_industryid
             ,r.id as rid,r.name as rname,r.perms
        from enterprise_users d,enterprise_information e,roles r
        where d.enterprise_usersid = e.id and r.id = d.role and d.name = #{name} and e.deleted = 0 and d.deleted = 0
    </select>
    <select id="getEmployeeByID" resultMap="enterpriseinfo">
        select d.*
             ,e.id as did
             ,e.enterprise_name as dname
             ,e.business_address as daddress
             ,e.enterprise_industry as dindustry
             ,e.company_profile as dprofile
             ,e.person_in_charge as dperson_in_charge
             ,e.examine_state as dexamine_state
             ,e.role as drole
             ,e.createtime as dcreatetime
             ,e.updatetime as dupdatetime
             ,e.version as dversion,e.deleted as ddeleted
             ,e.enterprise_addressid denterprise_addressid
             ,e.enterprise_industryid denterprise_industryid
             ,r.id as rid,r.name as rname,r.perms
        from enterprise_users d,enterprise_information e,roles r
        where d.enterprise_usersid = e.id and r.id = d.role and d.id = #{id} and e.deleted = 0 and d.deleted = 0
    </select>
    <select id="get" resultMap="enterpriseinfo">
        select d.*
        ,e.id as did
        ,e.enterprise_name as dname
        ,e.business_address as daddress
        ,e.enterprise_industry as dindustry
        ,e.company_profile as dprofile
        ,e.person_in_charge as dperson_in_charge
        ,e.examine_state as dexamine_state
        ,e.role as drole
        ,e.createtime as dcreatetime
        ,e.updatetime as dupdatetime
        ,e.version as dversion,e.deleted as ddeleted
        ,e.enterprise_addressid denterprise_addressid
        ,e.enterprise_industryid denterprise_industryid
        ,r.id as rid,r.name as rname,r.perms
        from enterprise_users d,enterprise_information e,roles r
        <where>
            d.enterprise_usersid = e.id and r.id = d.role and e.deleted = 0 and d.deleted = 0
            <if test="name!=null">
                and d.name like "%"#{name}"%"
            </if>
            <if test="enterprise_usersid1!=0">
                and e.enterprise_industryid = #{enterprise_usersid1}
            </if>
            <if test="enterprise_usersid2!=0">
                and e.enterprise_addressid = #{enterprise_usersid2}
            </if>
        </where>
    </select>
    <select id="getEmployee11" resultMap="enterpriseinfo">
        select d.*
             ,e.id as did
             ,e.enterprise_name as dname
             ,e.business_address as daddress
             ,e.enterprise_industry as dindustry
             ,e.company_profile as dprofile
             ,e.person_in_charge as dperson_in_charge
             ,e.examine_state as dexamine_state
             ,e.role as drole
             ,e.createtime as dcreatetime
             ,e.updatetime as dupdatetime
             ,e.version as dversion,e.deleted as ddeleted
             ,e.enterprise_addressid denterprise_addressid
             ,e.enterprise_industryid denterprise_industryid
             ,r.id as rid,r.name as rname,r.perms
        from enterprise_users d,enterprise_information e,roles r
        where e.id = d.enterprise_usersid and r.id = d.role and d.name = #{name} and e.deleted = 0 and d.deleted = 0
    </select>
</mapper>