<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>统计分析</title>
	<link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
	<script th:src="@{/asserts/js/jquery-3.2.1.slim.min.js}"></script>
	<script th:src="@{/asserts/js/bootstrap.min.js}"></script>
	<script th:src="@{/asserts/js/echarts.min.js}"></script>
	<style type="text/css">
		h1{
			font-family: 楷体;
			font-size: 100px;
			text-align: center;
			line-height: 500px;
			color: #408ad9;
		}
		/* Chart.js */

		@-webkit-keyframes chartjs-render-animation {
			from {
				opacity: 0.99
			}
			to {
				opacity: 1
			}
		}

		@keyframes chartjs-render-animation {
			from {
				opacity: 0.99
			}
			to {
				opacity: 1
			}
		}

		.chartjs-render-monitor {
			-webkit-animation: chartjs-render-animation 0.001s;
			animation: chartjs-render-animation 0.001s;
		}
	</style>
</head>

<body>
<!--顶部导航栏-->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
	<div class="row">

		<!--侧边栏-->
		<!--传递参数给组件-->
		<div th:replace="~{commons/commons::sidebar(active='echarts')}"></div>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<h2>就业情况统计</h2><br>

			<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
			<div style="width: 50%; float: left; overflow: hidden">
			<div id="test" style="width: 600px;height:400px; margin: auto"></div>
			</div>
			<div style="width: 50%; float: left; overflow: hidden">
			<div id="test1" style="width: 600px;height:400px; margin: auto"></div>
			</div>




			<script type="text/javascript">
				// 基于准备好的dom，初始化echarts实例
				var myChart = echarts.init(document.getElementById('test'));

				// 指定图表的配置项和数据
				var option = {
					toolbox:{
						feature:{
							saveAsImage: {}, // 将图表保存为图片
							dataView: {}, // 是否显示出原始数据
							restore: {}, // 还原图表
							dataZoom: {}, // 数据缩放
							magicType:{// 将图表在不同类型之间切换,图表的转换需要数据的支持
								type:['bar','line']
							}
						}
					},
					title: {
						text: '2019届毕业生就业统计'
					},
					tooltip: {},
					// legend: {
					// 	data: ['人数']
					// },
					xAxis: {
						data: ['已就业', '灵活就业', '找工作中', '考研', '考公', '自主创业']
					},
					yAxis: {},
					series: [
						{
							name: '人数',
							type: 'bar',
							data: [5, 20, 36, 10, 10, 20]
						}
					]
				};

				// 使用刚指定的配置项和数据显示图表。
				myChart.setOption(option);

				var myChart1 = echarts.init(document.getElementById('test1'));

				var option1 = {
					toolbox:{
						feature:{
							saveAsImage:{}
						}
					},
					title: {
						text: '就业统计',
						left: 'center',
						top: 'center'
					},
					tooltip: {},
					series: [
						{
							type: 'pie',
							data: [
								{
									value: 5,
									name: '已就业'
								},
								{
									value: 20,
									name: '灵活就业'
								},
								{
									value: 36,
									name: '找工作中'
								},
								{
									value: 10,
									name: '考研'
								},
								{
									value: 10,
									name: '考公'
								},
								{
									value: 20,
									name: '自主创业'
								}
							],
							radius: ['40%', '70%']
						}
					]
				};
				myChart1.setOption(option1);
			</script>
		</main>
	</div>
</div>



</body>

</html>