<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>添加角色</title>
  <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
</head>

<body>
<!--引入公共顶部栏-->
<div th:insert="~{commons/commons::topbar}"></div>
<div class="container-fluid">
  <div class="row">
    <!--引入公共侧边栏-->
    <div th:insert="~{commons/commons::sidebar}"></div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <form th:action="@{/role/add}" method="post">
        <div class="form-group">
          <label>角色名称</label>
          <input type="text" name="name" class="form-control" placeholder="不填写会使用默认的...">
        </div>
        <div class="form-group">
          <label>角色权限:</label>
          <br/>
          <br/>
          <label>系统操作权限:</label>
          <input type="checkbox" name="perms" value="emp:*">操作学生的所有权限--
          <input type="checkbox" name="perms" value="emp:list">查看学生信息--
          <input type="checkbox" name="perms" value="emp:toAdd">跳转添加学生--
          <input type="checkbox" name="perms" value="emp:add">添加学生--
          <input type="checkbox" name="perms" value="emp:toUpdate">跳转修改学生--
          <input type="checkbox" name="perms" value="emp:update">修改学生--
          <input type="checkbox" name="perms" value="emp:delete">删除学生--
          <input type="checkbox" name="perms" value="emp:get">查询学生--
          <br/>
          <br/>
          <br/>
          <label>部门操作权限:</label>
          <input type="checkbox" name="perms" value="dep:*">操作部门的所有权限--
          <input type="checkbox" name="perms" value="dep:list">查看部门列表--
          <input type="checkbox" name="perms" value="dep:toAdd">跳转添加部门--
          <input type="checkbox" name="perms" value="dep:add">添加部门--
          <input type="checkbox" name="perms" value="dep:toUpdate">跳转修改部门--
          <input type="checkbox" name="perms" value="dep:update">修改部门--
          <input type="checkbox" name="perms" value="dep:delete">删除部门--
          <br/>
          <br/>
          <br/>
          <label>角色操作权限:</label>
          <input type="checkbox" name="perms" value="role:*"/>操作角色的所有权限--
          <input type="checkbox" name="perms" value="role:list"/>查看角色列表--
          <input type="checkbox" name="perms" value="role:toAdd"/>跳转添加角色--
          <input type="checkbox" name="perms" value="role:add"/>添加角色--
          <input type="checkbox" name="perms" value="role:toUpdate"/>跳转修改角色--
          <input type="checkbox" name="perms" value="role:update"/>修改角色--
          <input type="checkbox" name="perms" value="role:delete"/>删除角色--
          <br/>
          <br/>
          <br/>
          <label>企业操作权限:</label>
          <input type="checkbox" name="perms" value="role:*"/>操作企业的所有权限--
          <input type="checkbox" name="perms" value="role:list"/>查看企业列表--
          <input type="checkbox" name="perms" value="role:toAdd"/>跳转添加企业--
          <input type="checkbox" name="perms" value="role:add"/>添加企业--
          <input type="checkbox" name="perms" value="role:toUpdate"/>跳转修改企业--
          <input type="checkbox" name="perms" value="role:update"/>修改企业--
          <input type="checkbox" name="perms" value="role:delete"/>删除企业--
          <br/>
          <br/>
          <br/>
          <label>老师操作权限:</label>
          <input type="checkbox" name="perms" value="sch:*"/>操作老师的所有权限--
          <input type="checkbox" name="perms" value="sch:list"/>查看老师列表--
          <input type="checkbox" name="perms" value="sch:toAdd"/>跳转添加老师--
          <input type="checkbox" name="perms" value="sch:add"/>添加老师--
          <input type="checkbox" name="perms" value="sch:toUpdate"/>跳转修改老师信息--
          <input type="checkbox" name="perms" value="sch:update"/>修改老师信息--
          <input type="checkbox" name="perms" value="sch:delete"/>删除老师信息--
          <br/>
          <br/>
          <br/>
          <label>招聘信息操作权限:</label>
          <input type="checkbox" name="perms" value="zpx:*"/>操作招聘信息的所有权限--
          <input type="checkbox" name="perms" value="zpx:list"/>查看招聘信息列表--
          <input type="checkbox" name="perms" value="zpx:toAdd"/>跳转添加招聘信息--
          <input type="checkbox" name="perms" value="zpx:add"/>添加招聘信息--
          <input type="checkbox" name="perms" value="zpx:toUpdate"/>跳转修改招聘信息--
          <input type="checkbox" name="perms" value="zpx:update"/>修改招聘信息--
          <input type="checkbox" name="perms" value="zpx:delete"/>删除招聘信息--
          <input type="checkbox" name="perms" value="zpx:upload"/>上传招聘信息--
          <br/>
          <br/>
          <br/>
          <label>行业操作权限:</label>
          <input type="checkbox" name="perms" value="industry:*"/>操作行业的所有权限--
          <input type="checkbox" name="perms" value="industry:list"/>查看行业列表--
          <input type="checkbox" name="perms" value="industry:toAdd"/>跳转添加行业--
          <input type="checkbox" name="perms" value="industry:add"/>添加行业--
          <input type="checkbox" name="perms" value="industry:toUpdate"/>跳转修改行业--
          <input type="checkbox" name="perms" value="industry:update"/>修改行业--
          <input type="checkbox" name="perms" value="industry:delete"/>删除行业--
          <br/>
          <br/>
          <br/>
          <label>地址操作权限:</label>
          <input type="checkbox" name="perms" value="address:*"/>操作地址的所有权限--
          <input type="checkbox" name="perms" value="address:list"/>查看地址列表--
          <input type="checkbox" name="perms" value="address:toAdd"/>跳转添加地址--
          <input type="checkbox" name="perms" value="address:add"/>添加地址--
          <input type="checkbox" name="perms" value="address:toUpdate"/>跳转修改地址--
          <input type="checkbox" name="perms" value="address:update"/>修改地址--
          <input type="checkbox" name="perms" value="address:delete"/>删除地址--
        </div>
        <button type="submit" class="btn btn-primary">添加</button>
      </form>
    </main>
  </div>
</div>
</body>
</html>